
<header id="header" class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark">

    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Oscar Picks">Oscar Picks</a>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item nav-picks">
                <a class="nav-link " href="#">Picks</a>
            </li>
            <li class="nav-item nav-scores">
                <a class="nav-link " href="#">Scores</a>
            </li>
            {{#if this.is_admin}}
                <li class="nav-item nav-categories">
                    <a class="nav-link " href="#">Categories</a>
                </li>
            {{/if}}
        </ul>
    </div>
</header>

<div id="main" class="container">
</div>

