<div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <!--<p class="card-text">{{this.sort_order}} card's content.</p>-->
    <a href="#" class="delete-category btn btn-danger float-right">Delete</a>
</div>
