<h5 class="mt-3">{{this.name}}</h5>
<div id="entry-list"></div>
<div id="new-entry" class="mt-3">

    <form id="add-entry">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="entry-name">Name</label>
                <input type="text" class="form-control mb-2" id="entry-name" name="entry-name" placeholder="Entry Name">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="entry-description">Description</label>
                <input type="text" class="form-control mb-2" id="entry-description" name="entry-description" placeholder="Description">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Add Entry</button>
            </div>
        </div>
    </form>

</div>
