<div class="card my-3"><div class="card-body">

    <form id="update-displayname">
        <div class="form-row align-items-end">
            <div class="col-auto">
                <label for="display-name">Name to show</label>
                {{#if this.display_name}} 
                    <input type="text" class="form-control mb-2" id="display-name" name="display-name" value="{{this.display_name}}">
                {{else}}
                    <input type="text" class="form-control mb-2" id="display-name" name="display-name" placeholder="{{this.user_id}}">
                {{/if}}
            </div>
            <div class="col-auto">
                <button type="submit" class="update-display-name btn btn-primary mb-2">Update</button>
            </div>
        </div>
    </form>
    <hr/>
    <p class="card-text">For each category, you can make a primary pick (worth <span class="badge badge-primary">3</span> points) and a secondary pick (worth <span class="badge badge-primary">1</span> point).</p>
    <p class="card-text">If you are feeling extra confident, you can put both picks on one entry and get <span class="badge badge-primary">4</span> points if it wins, but you risk not having a backup pick for that category if you're wrong.</p>
    <p class="card-text">The entries are in the order and format copied from <a href="Oscars2020.pdf">the printable list from the official Oscars site</a>.</p>
    <hr/>
    <button id="skip-home" type="button" class="btn btn-primary mb-2">Skip this screen on future logins</button>
    {{#if this.is_admin}}
        {{#if this.is_locked}}
            <hr/>
            <button id="unlock" type="button" class="btn btn-primary mb-2">Unlock</button>
        {{else}}
            <hr/>
            <button id="lock" type="button" class="btn btn-primary mb-2">Lock</button>
        {{/if}}
    {{/if}}
    {{#if this.is_admin}}
    <hr/>
    <form id="import-categories" enctype="multipart/form-data" method="POST">
        <div class="form-row align-items-end">
            <div class="col-auto">
                <label for="display-name">Categories JSON</label>
                <input type="file" class="form-control mb-2" id="categories-json" name="categories-json">
            </div>
            <div class="col-auto">
                <button type="submit" class="import-categories btn btn-primary mb-2">Import</button>
            </div>
        </div>
    </form>
    <hr/>
    <button id="export-categories" type="button" class="btn btn-primary mb-2">Export Categories</button>
    {{/if}}
</div>
