<div class="card my-3"><div class="card-body">

    <form id="update-displayname">
        <div class="form-row align-items-end">
            <div class="col-auto">
                <label for="display-name">Name to show</label>
                {{#if this.display_name}} 
                    <input type="text" class="form-control mb-2" id="display-name" name="display-name" value="{{this.display_name}}">
                {{else}}
                    <input type="text" class="form-control mb-2" id="display-name" name="display-name" placeholder="{{this.user_id}}">
                {{/if}}
            </div>
            <div class="col-auto">
                <button type="submit" class="update-display-name btn btn-primary mb-2">Update</button>
            </div>
        </div>
    </form>
    <hr/>
    <p class="card-text">For each category, you can make a primary pick (worth <span class="badge badge-primary">3</span> points) and a secondary pick (worth <span class="badge badge-primary">1</span> point).</p>
    <p class="card-text">If you are feeling extra confident, you can put both picks on one entry and get <span class="badge badge-primary">4</span> points if it wins, but you risk not having a backup pick for that category if you're wrong.</p>
    </p>
    <hr/>
    <button id="skip-home" type="button" class="btn btn-primary mb-2">Skip this screen on future logins</button>
</div>
